*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.logo{ font-size: 1.7rem;
  font-weight: lighter;
  font-family:'open sans';
  text-decoration: none;
  margin: 1rem 0rem;
}

nav a{ text-decoration: none;
  color: #393939;
  font-size: 21px;
  font-weight: 400;
  margin: 0 0.5rem;
  align-content: center;
  padding: 0.5rem 0.5rem;
}

nav{
background-color: #FFF0ED;
height: 100px;
}

.shop-now { color: #5BACC3;}

.logo__image{ width: 50px;
  margin: 0.5rem 0.5rem;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.product_price{ font-size: 1.5rem;
  font-weight: 500;
  color:  #5BACC3;
}