@use './partials/global' as *;

li{ list-style-type: none;
    border-left: 4px solid #5BACC3 ;
    text-align: center;
}
.product{ background-color: #FFF0ED;
        text-align: center;
        padding: 40px 40px;

}

h2.product-pastries{
    background-color:  #FFF0ED; 
    padding: 10px;
    text-align: center;
  }


    .menu-container{background-image: url("../assets/images/coffee-circle.jpg");
    width: 100%;
    height: 43.75rem;
    background-position: center;
    background-size: cover;
    }

    section > ul {
        background-color: #393939;
        width: 100%;
        height:80px;
        color: white;
        padding: 20px;
        text-align: center;
        
      }

      h2.product-hot, h2.product-cold, h2.product-pastries {
        font-size: 2.5rem; 
        margin-bottom: 30px; 
        text-align: center;
        font-weight: lighter;
        word-wrap: break-word;
         
      }

      section > ul li {
        display: inline-block;
        padding: 12px;
        margin: 0px 20px;
    }

    p {
        width: 40%; 
        margin: 0 auto; 
        line-height: 1.6; 
        word-wrap: break-word; 
      }

      h1.menu {
        background-color: #393939;
        color: white;
        text-align: center;
        padding:2 10px;
        width: 200px; 
        height: 150px; 
        line-height: 150px; 
        margin: 0 auto;
      }

        .product-cold {
            background-color: #F7F7F7; 
            padding: 10px;
            text-align: center;
         
          }
        